@charset "UTF-8";
/* This is the desktop style: meaning 1025px and above*/
/* I am going to be going with the color scheme of the following: Font color:#1A1A2E,#16213E,#0F3460,#E94560,Backgroundcolor: #F1F1F1 */


body {
    font-family: Verdana, Tahoma, sans-serif;
    color: #1A1A2E;
    padding: 0;
    margin: 0;

    /* Linear gradient */
    background: #F1F1F1;
    background: linear-gradient(top, #F1F1F1 0%, #E8E8E8 100%);
    background: linear-gradient(bottom, #F1F1F1 0%, #E8E8E8 100%);
}
#wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

header {
    background: #16213E;
    background:linear-gradient(45deg,#16213E 0%, #0F3460 100%);
    color: #F1F1F1;
    padding-top: 30px;
    padding-bottom: 30px; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

}

nav ul{
    list-style: none;
    padding: 0 ;
    margin: 0;
    text-align: center;
    
}


.profile-photo .photo{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin:  auto;
       
}

